# Servidor NestJS
PORT=3000

# Base de Datos (Mapeo Agnóstico TypeORM)
# DB_HOST=localhost  ← cuando ejecutes NestJS fuera de Docker (XAMPP local)
# DB_HOST=db         ← cuando ejecutes todo dentro de Docker (docker compose)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=kuxtal_user
DB_PASSWORD=kuxtal_password
DB_DATABASE=kuxtal_db
DB_SYNCHRONIZE=true
